* {
  margin: 0;
  padding: 0;
}

html,
body {
  background: linear-gradient(to bottom, #11e8bb 0%, #8200c9 100%) !important;
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  background: transparent;
}
